<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tutor page</title>
</head>
<body>
<h1>Tutor page</h1>
<h2> Select students and mark the topics covered: </h2>

<form th:method="POST" th:action="@{/create_lesson}">
    <label for="topic">Select topic:</label>
    <select id="topic" name="topic">
        <option th:each="topic : ${topicList}" th:value="${topic.id}" th:text="${topic.name}"></option>
    </select>

    <h3>Students:</h3>
    <div th:each="student : ${studentList}">
        <label>
            <input type="checkbox" th:id="${'student'+student.id}" name="student" th:value="${student.id}" >
        </label>
        <label th:for="${'student'+student.id}" th:text="${student.name + ' '+student.lastname}"></label><br>
    </div>
    <br>
    <input type="submit" value="OK">
</form>
</body>
</html>